@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Comfortaa:wght@300&family=Lobster&family=Merriweather&family=Poppins:wght@500&family=Work+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    width:100%;
}
.logo{
    font-size: 23px;
    color:rgb(73, 73, 73);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
    height: 100%;
    margin:0 auto;
}
nav .manu{
    display: flex;
}
nav ul{
    display: flex;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    margin:0 25px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(70, 69, 69);
}
.nav-btn{
    display: flex;
    align-items: center;
}
.nav-btn button{
    border:none;
    outline:none;
    margin:0 15px;
    font-size: 30px;
    background-color: transparent;
}
.container{
    width:85%;
    margin:0 auto;
    margin-top:100px;
}
.banner{
    display: flex;
    width:100%;
    height: auto;
}
.banner-info{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-pic{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner-heading{
    font-size: 60px;
    color:rgb(56, 56, 56);
}
.primary-btn{
    width:250px;
    height: 60px;
    border:none;
    outline: none;
    background-color: rgb(255, 26, 102);
    border-radius: 50px;
    font-size: 20px;
    color:white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    margin-left: 10px;
}
.banner-desc{
    font-size: 20px;
    color:rgb(85, 85, 85);
    margin-top:-30px;
    width:80%;
}

#img1{
    position: relative;
    width:90%;
}
#img2{
    position: absolute;
    width:38%;
}

.logo-con{
    width:80%;
    margin:auto;
    margin-top:100px;
}
.all-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-items: center;
}
.line{
    width:100%;
    height: 3px;
    background:linear-gradient(to left,transparent,rgb(168, 168, 168),transparent);
}
.icon-all{
    padding: 25px 35px;
}
.card-body{
    box-shadow: 0 0 30px 4px rgba(136, 136, 136, 0.356);
    padding: 25px;
}
.card-img img{
    width:100%;
}
.all-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
}
.card-info h1{
    font-size: 35px;
    margin-top:7px;
}
.card-info h2:before{
    content:"$";
}
.card-info h2{
    font-size: 30px;
    margin-top:-20px;
    font-weight: 100;
}
.card-info p{
    color:rgb(102, 102, 102);
    font-size: 22px;
    margin-top:4px;
}
.fill{
    color:rgb(255, 145, 0);
}
.unfill{
    color:rgb(255, 174, 0);
}
.popular{
    font-size: 40px;
    text-align: center;
    margin:50px 0;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:50px;
    font-size: 30px;
    color:rgb(255, 129, 129);
}

.join-now{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
}
.join-img{
    width:45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.join-img img{
    width:80%;
}
.join-info{
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.join-head{
    font-size: 50px;
    margin-top: 0px;
}
.join-desc{
    font-size:20px;
    width:60%;
    line-height: 33px;
    margin-top:-24px;
}
.con{
    width:100%;
}
.join-btn{
    border:none;
    outline:none;
    width:170px;
    height: 50px;
    background-color: rgb(196, 0, 91);
    color:white;
    font-size: 20px;
}
footer{
    margin-top:100px;
}
.footer{
    background-color: rgb(13, 11, 34);
    height: 300px;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyright{
    color:rgb(0, 93, 155);
    margin-top:-10px;
    font-size: 20px;
}
.footer-icon i{
    margin:7px;
    font-size: 22px;
    background-color: rgba(33, 35, 59, 0.726);
    width:50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}
/* Responsive-Layout */
@media screen and (max-width:576px) {

    header{
        padding: 10px;
        width:100%;
    }
    nav{
        width:100%;
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    .nav-btn button{
        font-size: 18px;
        margin:0px;
        color:black;
    }
    .logo{
        position: relative;
        display: flex;
        justify-content: flex-start;
        width:100%;
        font-size: 15px;
        color:black;
    }
    nav .manu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        border-bottom: 1px solid black;
    }
    .manu-item{
        align-items: center;
        justify-content: space-evenly;
        padding: 0px;
        margin:0px;
        width:100%;
    }
    nav ul{
        flex-direction: column;
        height: 50vh;
        width:100%;
    }
    nav ul li{
        text-align: center;
        line-height: 80px;
    }
    .nav-btn{
        position: absolute;
        top:30px;
        left: 80%;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .banner-heading{
        font-size: 25px;
        margin:0px;
        text-align: center;
    }
    .banner-info{
        width:100%;
        align-items: center;
    }
    .banner-desc{
        margin:0px;
        width:100%;
        font-size: 16px;
        text-align: center;
        margin-top:10px;
    }
    .primary-btn{
        width:170px;
        height: 50px;
        font-size: 15px;
        margin:10px 0px;
    }
    .logo-con{
        width:100%;
        margin-top:15px;
    }
    .all-logo{
        grid-template-columns: repeat(4,1fr);
        grid-row-gap:10px;
        width:70%;
        margin:auto;
        padding: 10px 0;
    }
    .icon-all{
        padding: 0px;
    }
    .icon-all img{
        width:50px;
    }
    .line{
        width:100%;
    }
    .all-card{
        grid-template-columns: repeat(1,1fr);
    }
    .card-body{
        width:100%;
    }
    .join-now{
        flex-direction: column;
        margin-top:50px;
    }
    .join-img{
        justify-content: center;
        width:100%;
    }
    .join-info{
        align-items: center;
    }
    .join-desc{
        width:100%;
        text-align: center;
    }
    .join-head{
        text-align: center;
    }
}